---
layout: default
title: Gallery
---

<ul id="gallery-slider" class="cs-hidden">
    {% for photo in site.data.photos %}
        <li class="item-a">
            <a class="swipebox" href="{{ photo.large_image_path }}" title="{{ photo.caption }}">
                <img src="{{ photo.thumbnail_image_path }}">
            </a>
        </li>
    {% endfor %}
  </ul>