---
layout: default
title: Resources
---

<div class="resources">
    <ul id="lightSlider_gallery">
        
        {% for resource in site.data.resources %}

            {% assign resource_title = resource.resource_title %}

            {% if resource.resource_type == 'Youtube' %}                
                <li class="resource__item resource__item--video" data-thumb="http://img.youtube.com/vi/{{ resource.youtube_id }}/default.jpg">
                    <h4 class="resource__title">{{ resource_title }}</h4>
                    <iframe class="resource__iframe" width="560" height="400" src="https://www.youtube.com/embed/{{ resource.youtube_id }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </li>
            {% endif %}

            {% if resource.resource_type == 'Document' %}

                {% assign thumbnail = resource.document_thumbnail_image_path %}               
                {% assign bg_image = resource.document_background_image_path %}              
                {% assign link_text = resource.document_link_text %}              
                {% assign link_location = resource.document_location %}              

                <li class="resource__item resource__item--document" data-thumb="{{ thumbnail }}">
                    <h4 class="resource__title">{{ resource_title }}</h4>
                    <p class="resource__link-text-wrapper">
                        <a href="{{ link_location }}" target="_blank" class="resource__link-text">
                            {{ link_text }}
                        </a>                        
                    </p>
                    <img src="{{ bg_image }}" />
                </li>

            {% endif %}

        {% endfor %}

    </ul>
</div>