---
layout: default
title: Lunr Search
type: lunr_search
---

<form action="/search-lunr" method="get">
    <label for="lunr-search-box">Search with lunr:</label>
    <input type="text" id="lunr-search-box" name="query">
    <input type="submit" value="search">
</form>

<ul id="lunr-search-results" style="list-style: none; padding-top: 1.5em"></ul>

<script>
    window.store = {
      {% for post in site.posts %}
        "{{ post.url | slugify }}": {
          "title": "{{ post.title | xml_escape }}",
          "author": "{{ post.author | xml_escape }}",
          "content": {{ post.content | strip_html | strip_newlines | jsonify }},
          "url": "{{ post.url | xml_escape }}"
        }
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    };
  </script>