<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/search-lunr.js"></script>

<script src="/assets/js/lightslider.js"></script>
<script src="/assets/js/swipebox.min.js"></script>

<script>

  $('#lightSlider_gallery').lightSlider({
      gallery: true,
      item: 1,
      loop:true,
      slideMargin: 0,
      thumbItem: 6,
      thumbMargin: 12,
      galleryMargin: 12
  });

  $('#gallery-slider').lightSlider({
      autoWidth:true,
      loop:true,
      onSliderLoad: function() {
          $('#gallery-slider').removeClass('cS-hidden');
      } 
  });
  
  $( '.swipebox' ).swipebox();


</script>

<script>
  var client = algoliasearch('3WRZ5YBWUQ', '1f7589fd71be0da2164c3ba6547868e5');
  var index = client.initIndex('dev_gish');

  //initialize autocomplete on search input (ID selector must match)
autocomplete('#aa-search-input',
{ hint: false }, {
    source: autocomplete.sources.hits(index, {hitsPerPage: 10}),
    //value to be displayed in input control after user's suggestion selection
    displayKey: 'title',
    //hash of templates used when rendering dataset
    templates: {
        //'suggestion' templating function used to render a single suggestion
        suggestion: function(suggestion) {
          return '<span>' +
            suggestion._highlightResult.title.value + '</span>';
        }
    }
}).on('autocomplete:selected', function(event, suggestion, dataset) {
    location.href = suggestion.url;
  });

</script>