{% unless page.type == 'lunr_search' %}

    <div class="wrapper">
        <div class="aa-input-container" id="aa-input-container">
            <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search ..." name="search" autocomplete="off" />
        </div>
    </div>

{% endunless %}