.resources {

    .resource__item--document {
        position: relative;
    }

    .resource__link-text-wrapper {
        position: absolute;
        top: 200px;
        text-align: center;
        width: 100%;
    }

    .resource__link-text {
        display: inline-block;
        background-color: #D1CBB6;
        padding: 6px 12px;
        border-radius: 6px;
        color: #000;
        font-size: 22px;
    }

    .resource__title {
        text-align: center;
        margin-bottom: 0;
        background-color: #D1CBB6;
        padding: 12px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    
    .resource__item--video iframe,
    .resource__item--document img {
            width: 100%;
            max-width: 100%;
    }

    .lSSlideOuter .lSPager.lSGallery {
        //background-color: #000;
        padding: 16px 0;
    }

    .lSSlideOuter .lSPager.lSGallery li {
        text-align: center;
        img {
            //max-width: 95%;
            margin-bottom: 6px;
        }

        &.active,
        &:hover {        
            border-bottom: 2px solid #666;
            border-radius: 0;
        }
    }
}
