---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts ({{ site.posts | size }})</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts reversed %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        {% assign tags_size = post.tags | size %}

        {% if tags_size > 0 %}
          •
          {% for tag in post.tags %}
          <span class="post-meta">
            #{{ tag }}
          </span>
          {% endfor %}
        {% endif %}

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        <a href="{{ post.url | relative_url }}">
          {% include post_first_img.html %}
        </a>

        <p>
          {% include post_first_p.html %}
        </p>

      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
